<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact EMAIL</title>
</head>

<body style="color: #000; font-size: 16px; text-decoration: none; font-family: Arial, Helvetica, sans-serif;">

    <div id="wrapper" style="max-width: 600px; margin: auto auto; padding: 30px;">

        <div id="logo">
            <div style="text-align: center;">
                <img src="{EMAIL_LOGO}" alt="" style="max-height: 75px">
            </div>

            <div id="content"
                style="padding: 25px; background-color: #fff; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; -khtml-border-radius: 10px; border-color: #A3D0F8; border-width: 4px 1px; border-style: solid;">

                <h1 style="font-size: 22px; text-align: center;">{SUBJECT}</h1>

                <p>Hi from <strong>{FROM_NAME}</strong>,</p>

                <p>{MESSAGE}</p>

                <hr style="margin:0; border-top: 1px solid #ddd;">

                <p style="text-align: center;"><small>This Email is from Contact Page.</small></p>

                <p style="display: flex; justify-content: center; margin-top: 45px; text-align: center;">
                    <a href="{GOTOBTN_URL}" target="_blank"
                        style="border: 1px solid #0561B3; background-color: #238CEA; color: #fff; font-size: 18px; padding: 10px 20px; text-decoration: none;">Ceck
                        the Admin Panel
                    </a>
                </p>

            </div>

            <!-- <div id="footer" style="margin-bottom: 20px; padding: 0px 8px; text-align: center;">
				<a href="#">link1</a>
				<a href="#">link2</a>
			</div> -->
        </div>

    </div>

</body>

</html>